/*Slider*/
.text {
	font-family: 'Bellefair', serif;
}
/*Resort 1&2*/
.excerpt {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	text-align: center;
}

.resort1, .resort2{
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 60px;
	width: 400px;
}

.innerexcerpt {
	margin-left: 10px;
	margin-right: 10px;
}

.excerpt h2 {
	font-weight: lighter;
	color: #505050;
	letter-spacing: 1.3px;
}

.excerpt p {
	color: grey;
	margin-bottom: 30px;
}

.excerpt sub {
	color: #505050;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: lighter;
}

.excerpt a{
	color: #505050;
	letter-spacing: 1.4px;
	border-bottom: solid 1px #505050;
}

/*Discover Link*/
.signupbutton {
	align-self: center;
	font-size: 20px;
}

.discoverlink {
	margin-top: 20px;
}

/*Pseudo Code Section*/

.excerpt a:visited {
	color: #505050;
}

.excerpt a:hover{
	border-bottom: 0px;
	font-weight: bold;
}
