/*For all or multiple sections*/
* {
	/*border: 1px solid hotpink;*/
	font-family: 'Assistant', sans-serif;
}

h2 {
	margin-left: 10px;
	font-size: 40px;
	letter-spacing: 1.8px;
	word-spacing: 8px;
	margin-bottom: 30px;
	font-weight: lighter;
	color: grey;
	margin-top: 50px;
}

.inner-container{
	padding-left: 30px;
	padding-right: 30px;
}

/* position text centered on the image */
figure {
	position: relative;
	text-align: center;
  	color: white;
}

figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.introcap {
	font-family: 'Bellefair', serif;
}

/* First Pic section */
.full-width img {
	width: 100%;
}

.full-width figure{
	padding:0;
	margin: 0;
	width: 100%;
	z-index: 0;
	position: static;
}

.full-width figcaption {
	font-size: 45px;
	letter-spacing: 10px;
	font-weight: lighter;
	width: 100%;
	top: 57%;
}


/* Discover the resort section */
.intro {
	color: grey;
	word-spacing: 2px;
	margin-left: 11px;
	margin-right: 10px;
	padding: 18px;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 30px;
}

.adventures, .dinning, .accommodation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 10px;
}

.innerp {
	align-self: center;
}

.titlep {
	color: #505050;
	font-size: 26px;
	margin-right: 200px;
}

.subp {
	margin-right: 50px;
	color: grey;
}

.adventures figcaption,.dinning figcaption,.accommodation figcaption {
	font-size: 45px;
	font-weight: lighter;
	letter-spacing: 3px;
}

.adventures p, .accommodation p, .dinning p{
	align-self: center;
	word-spacing: 2px;
	font-weight: lighter;
}
/* One of a kind Section */

.unique ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

.unique li {
	color: #505050;
	font-size: 20px;
	letter-spacing: 1.5px;
	margin-bottom: 30px;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	list-style: none;
  	padding: 15px;
  	width: 90%;
}

/* Gallery Section */

.gallery {
	text-align: center;
}

.gallery section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.gallery img {
	padding-bottom: 20px;
	padding-right: 3px;
	padding-left: 3px;
}

.gallerysec1 img {
	padding-right: 50px;
	padding-left: 50px;
}


/* More Info Section */
.destination, .brand {
	margin-right: 10px;
	margin-left: 10px;
}

.reserve {
	text-align: center;
	font-size: 20px;
	align-self: center;
	letter-spacing: 2px;
}

.moreinfo {
	margin-left: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.moreinfo figure {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	
}

.moreinfo figcaption {
	font-size: 40px;
	letter-spacing: 8px;
	font-weight: lighter;
}

/*Pseudo-class element Section*/
.reserve a:link {
	text-decoration: none;
	color: black;
}

.reserve a:visited {
	color: black;
}

.reserve a:hover{
	border-bottom: solid 2px black;
}